/* common setting */
  body {
    background-color: #8b8b8b;
    color: #fff;
  }
  a {
      transition: opacity .3s;
      text-decoration: none;
  }
  .wrapper {
    padding-top: 73px;
  }
  
  .section {
    padding: 90px 0;
  }
  
  .section:nth-of-type(odd) {
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 30px 80px;
  }
  .title{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sub-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }



/* header */
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background:  linear-gradient(to bottom,rgba(0,0,0, 1),rgba(0,0,0, 0));
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
  }
  
  .header-logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-right: 20px;
    letter-spacing: .05em;
  }
  .header-logo img{
    width: 40px;
    transform: translate(0,25%);
  }
  .header-logo a {
    color: #eee;
  }
  
  .gnav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .gnav-item:not(:last-child) {
    margin-right: 20px;
  }
  
  .gnav-item a {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .3s;
    letter-spacing: .05em;
    color: #eee;
  }
  .gnav-item a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #eee;
  }
  
  .gnav-item a:hover:after {
    width: 100%;
  }
/* mv */
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.mv-container {
  padding: 0 40px;
}

.mv-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: .1em;
}
.mv-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .08em;
}

.mv-text {
  font-size: 16px;
  line-height: 1.8;
}
.random-design {
  z-index: -1;
  position: absolute;
  left: 0;
}
.canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; 
}

/* slide */
.swiper--wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 300px;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  text-align: center;
  line-height: 100px;
  text-align: center;
}
.swiper-slide img{
  width: 100%;
  border-radius: 5%;
}


/* contact */
.contact p{
  text-align: center;
}
.contact img{
  background-color: #fff;
  width: 50px;
  border-radius: 50%;
}
.con-list{
  padding-top: 40px;
  justify-content: center;
  display: flex;
  gap: 10px 60px; 
}
/*  */
.schedule img{
  width: 100%;
  border-radius: 5%;
}

/* footer */
.footer{
    bottom: 0;
    z-index: 1;
    width: 100%;
    background:  linear-gradient(to top,rgba(33,33,33, 1),rgba(0,0,0, 0));
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer p{
  text-align: center;
}



  @media (max-width: 599px) {
    .vertical-slider__slide {
      font-size: 16vw;
    }
  }